menu{

}
ul.menu1{
    list-style: none;
    padding-left: 0;
    width: 250px;
}
ul.menu1 > li{
    position: relative;
}
ul.menu1 > li > a{
    text-decoration: none;
    padding: 0 20px;
    height: 60px;
    display: flex;
    align-items: center;
    background: #006ab9;
    color: #fff;
    text-transform: uppercase;
}

ul.menu1 > li:not(:last-child) > a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 1px;
    background: blue;
}

ul.menu1 > li > a > span{
    line-height: 24px;
}
ul.menu1 > li > a:hover{
    background: #003c84;
}
ul.menu1 > li:hover > a{
    background: #003c84; 
}
ul.menu1 > li > ul{
    list-style: none;
    padding-left: 0;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 100%;
    width: 300px;
    padding: 20px 30px;
    background: #003c84;
    display: none;
}
ul.menu1 > li:hover > ul{
    display: block;
}
ul.menu1 > li > ul > li > a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-weight: 600;
}
ul.menu1 > li > ul > li > a:hover{
    background: aqua;
}