.note{
    border: 1px solid #000;
    padding: 15px;
    height: 200px;
    position: relative;

    &_list{
        padding: 20px;
    }
    &_list_head{
        padding: 10px;
    }
    .close{
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 20px;
        cursor: pointer;
    }
}