html, body{
    padding: 0;
    margin: 0;
}
.out{
    width: 400px;
    height: 400px;
    background: chocolate;
    position: fixed;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
}
.in{
    width: 100px;
    height: 100px;
    background: greenyellow;
    position: fixed;   
    font-size: 30px;
    color: #000;
    text-align: center;
    line-height: 100px;
}
.in1{
    top: calc(50% - 200px);
    left: calc(50% - 200px);
}
.in2{
    top: calc(50% - 200px);
    left: calc(50% + 100px);
}
.in3{
    top: calc(50% + 100px);
    left: calc(50% + 100px);
}
.in4{
    top: calc(50% + 100px);
    left: calc(50% - 200px);
}