html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.out{
    width: 400px;
    height: 400px;
    background: chocolate;
    position: relative;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
}
.in{
    width: 100px;
    height: 100px;
    background: greenyellow;
    position: relative;
    float: left;   
    font-size: 30px;
    color: #000;
    text-align: center;
    line-height: 100px;
}
.in1{
    margin: 400px 0 0 -100px;
}
.in2{
    margin: -100px 0 0 -100px;
}
.in3{
    margin: -100px 0 0 400px;
}
.in4{
    margin: 400px 0 0 400px;
}