$blue: #00294e;
$gray: #989898;
$bgcolor: #f2f2f2;

$black: #0d0d0d;
$white: #fff;

$error: #fd4f57;

$social: (
    fb: #3C5B9B,
    in: #fcaf45,
    li: #027ba5,
    tw: #1DA1F2,
    yt: #FF0000,
    pt: #E60023
);