<div class="container">
    <div  class="header">
        <form action="" name="todo_form">
            <h2>Мой список дел</h2>
            <input #newTask type="text" placeholder="Task..."> <!-- input = newTask-->
            <button  class="btn" (click)="addTask(newTask.value);newTask.value=''">Сохранить</button>
        </form>
    </div>
    <div *ngIf="countTasks(true) > 0">
        <h2>Выполненные задачи - {{countTasks(true)}}</h2>
        <ul id="list">
            <li *ngFor="let task of filterTasks(true); let i = index" [class.checked]="task.done" (dblclick)="changeStatus(task)">
                {{i+1}}. {{task.title}}
                <span class="edit">&#9998;</span>
                <span class="close" (click)="deleteTask(task)">×</span>
            </li>
        </ul>
    </div>
    <div *ngIf="countTasks(false) > 0">
        <h2>Невыполненные задачи - {{countTasks(false)}}</h2>
        <ul id="list">
            <li *ngFor="let task of filterTasks(false); let i = index" [class.checked]="task.done" (dblclick)="changeStatus(task)">
                {{i+1}}. {{task.title}}
                <span class="edit">&#9998;</span>
                <span class="close" (click)="deleteTask(task)">×</span>
            </li>
        </ul>
    </div>
</div>