.container{
    max-width: 900px;
    margin-top: 100px;
    background: rgb(192, 194, 193);
    padding: 20px;
}
header{
    text-align: center;
    border-bottom: 1px solid #eee;
    opacity: 0.5;
}
header.active{
    opacity: 1;
    font-weight: bold;
}
.col-4{
    border: 1px solid #eee;
    padding: 10px;
}
