html,body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}
a{
    position: fixed;
    display: block;
    color: #fff;
    background: black;
    padding: 15px 20px;
    top: 40px;
}
.start{
    left: calc(50% - 150px);
}
.end{
    left: calc(50% + 30px);
}
.box{
    width: 400px;
    height: 400px;
    background: chartreuse;
    box-sizing: border-box;
    border: 0px solid #456783;
    transition-property: border,width,height,transform;
    transition-timing-function: linear;
    transition-duration: 3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
#box:target{
    width: 0;
    height: 0;
    border: 200px solid #456783;
    transform: rotate(360deg);
}
.ball{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: hotpink;
    transition-property: background,width,height;
    transition-timing-function: linear;
    transition-duration: 1s;
}
.ball:hover{
    width: 300px;
    height: 300px;
    background: indigo;
}