html{
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.parent{
    background: red;
    display: flex;
    width: 400px;
    height: 400px;
    align-items: center;
    justify-content: center;
}
.child{
    background: green;
    width: 100px;
    height: 100px;
}
.bg-blue{
    background: blue;
}
.bg-black{
    background: black;
}