<div class="page-header">
  <h1> Список покупок </h1>
</div>
<div class="panel">
  <div class="form-inline">
      <div class="form-group">
          <div class="col-md-8">
              <input class="form-control" [(ngModel)]="text" placeholder = "Название" />
          </div>
      </div>
      <div class="form-group">
          <div class="col-md-6">
              <input type="number" class="form-control" [(ngModel)]="price" placeholder="Цена" />
          </div>
      </div>
      <div class="form-group">
          <div class="col-md-offset-2 col-md-8">
              <button class="btn btn-default" (click)="addItem(text, price)">Добавить</button>
          </div>
      </div>
  </div>
  <table class="table table-striped">
      <thead>
          <tr>
              <th>Предмет</th>
              <th>Цена</th>
              <th>Количество</th>
              <th>Куплено</th>
              <th>Итого</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of items">
              <td>{{item.purchase}}</td>
              <td>{{item.price}}</td>
              <td>{{item.itemQuantity}}</td>
              <td><input type="checkbox" [(ngModel)]="item.done" /></td>
              <td>{{item.itemQuantity*item.price}}</td>
          </tr>
      </tbody>
      <tfoot>
          <td colspan="4">Итого</td>
          <td>{{getSum()}}</td>
      </tfoot>
  </table>
</div>