table{
    border-spacing: 0;
    border-collapse: collapse;
}
td, th{
    height: 50px;
    vertical-align: middle ;
    border: 1px solid #fff;
}
tr td:nth-child(1), tr td:nth-child(n+3){
    text-align: center;
}
tr th:nth-child(1), tr th:nth-child(n+3){
    text-align: center;
}
tr th:nth-child(2){
    text-align: left;
}
th{
    color: #fff;
    font-weight: 600;
    background: rgb(11, 92, 243);
    border-bottom: 3px solid #fff;
}
tr:nth-child(2n+2) td{
    background: darkblue;
}
tr:nth-child(2n+3) td{
    background: darkcyan;
}
tr td:nth-child(1){
    width: 100px;
}
tr td:nth-child(2){
    width: 300px;
}
tr td:nth-child(n+3){
    width: 150px;
}